<div id="post-90" style="font: 400 15px/1.4em 'Varela Round',sans-serif;">
    <div style="background: none repeat scroll 0 0 #7fb61a;padding-top: 20px;padding-bottom: 20px;">
        <img src="http://publishers.adtomatik.com/images/mediafem-blanco.png" alt="Adtomatik">
    </div>
    
    <h1>Políticas del programa Adtomatik para Sitios</h1>

    <div>
        <div>
            <p>Los editores que participen en el programa de publicidad de “Adtomatik para Sitios” deben cumplir las políticas que se detallan a continuación, de modo que le rogamos que las lea detenidamente. De lo contrario, nos reservamos el derecho de inhabilitar la publicación de anuncios en su sitio o de dar de baja su cuenta en cualquier momento. Si se inhabilita su cuenta, no podrá volver a participar en el programa.</p>
            <p style="text-align: left;"><em>&nbsp;</em></p>
            <h3 style="text-align: left;"><span style="color: #000000;"><strong>Impresiones y clicks no válidos</strong></span></h3>
        </div>
    </div>
    <p>Los editores no pueden hacer click en sus propios anuncios ni utilizar medios para inflar de forma artificial las impresiones o los clicks, incluido cualquier tipo de método manual.</p>
    <p>Los clicks en los anuncios deben proceder de un interés genuino por parte del usuario. Queda terminantemente prohibido cualquier método que genere clicks o impresiones en los anuncios de forma artificial. Estos métodos prohibidos incluyen, aunque sin limitarse a ellos, los clicks o impresiones efectuados de forma manual, los efectuados de forma automatizada por herramientas, robots u otro software engañoso.&nbsp;<strong><span style="text-decoration: underline;">Tenga en cuenta que está prohibido hacer click en sus propios anuncios.</span></strong></p>
    <p>&nbsp;</p>
    <h3><strong><span style="color: #000000;">Métodos para conseguir clicks</span></strong></h3>
    <p>Los editores no pueden pedir a otras personas que hagan click en sus anuncios ni utilizar métodos engañosos para conseguirlos.</p>
    <p>Con tal de garantizar la calidad del servicio tanto para los sitios como para los anunciantes, los editores que participen no pueden:</p>
    <ol>
        <li>Compensar a los usuarios por ver anuncios, ni prometer una compensación a un tercero a cambio de tales acciones,</li>
        <li>Animar a los usuarios para que hagan click en los anuncios con frases como “Haga click en los anuncios”, “colabore con nosotros” u otras expresiones similares,</li>
        <li>Utilizar flechas u otros trucos publicitarios para dirigir la atención de los usuarios hacia los anuncios,</li>
        <li>Colocar imágenes engañosas junto a los anuncios,</li>
        <li>Diseñar los anuncios de tal modo que no puedan distinguirse del resto del contenido de la página,</li>
        <li>Diseñar el contenido del sitio de tal forma que sea difícil distinguirlo de los anuncios,</li>
        <li>Incluir etiquetas engañosas sobre los anuncios; por ejemplo, se puede insertar la etiqueta “Publicidad” o “Anuncios”, pero no “Sitios favoritos” o “Las mejores ofertas del día”.</li>
    </ol>
    <div><span style="font-size: small;"><br>
        </span></div>
    <h3><strong><span style="color: #000000;">Reglas sobre el contenido de los sitios</span></strong></h3>
    <p>Los editores no pueden insertar código del anuncio en páginas cuyo contenido infrinja nuestras reglas de contenido, por ejemplo, contenido para adultos, contenido violento o que fomente la discriminación de cualquier índole.</p>
    <p>Los sitios con anuncios no pueden incluir el contenido que se describe a continuación ni tampoco enlazar con él:</p>
    <ol>
        <li>Pornografía y contenido no apto para menores,* contenido violento,* contenido relacionado con la intolerancia racial o con el ataque a un particular, a un grupo o a una organización,* abuso de lenguaje inapropiado,* contenido de pirateo informático,* contenido relacionado con las apuestas o los casinos,* drogas ilegales o artículos relacionados,</li>
        <li>Venta de tabaco o de productos relacionados,</li>
        <li>Venta de medicamentos con receta,</li>
        <li>Venta de armas o de munición, por ejemplo, armas de fuego y sus piezas, navajas o pistolas de descarga eléctrica,</li>
        <li>Venta de artículos falsificados o imitaciones de artículos de diseño,</li>
        <li>Venta o distribución de trabajos académicos,</li>
        <li>Contenido relacionado con programas que compensan a los usuarios por hacer click en anuncios u ofertas, realizar búsquedas, navegar por sitios web o leer mensajes de correo electrónico,</li>
        <li>Cualquier otro contenido que sea ilegal, incite a una actividad ilegal o infrinja los derechos legales de terceros.</li>
    </ol>
    <div><span style="font-size: small;"><br>
        </span></div>
    <h3><span style="color: #000000;">Material protegido por derechos de autor</span></h3>
    <p>Los editores no pueden publicar anuncios en páginas web con contenido protegido por la ley de derechos de autor, a menos que tengan los derechos legales necesarios para publicar dicho contenido.</p>
    <p>&nbsp;</p>
    <h3><span style="color: #000000;"><strong>Reglas sobre la calidad del contenido</strong></span></h3>
    <p>Los editores deben cumplir con las siguientes reglas de calidad sobre contenido del sitio:</p>
    <ol start="1">
        <li>Evite páginas con contenido duplicado o contenido original mínimo o inexistente.</li>
        <li>No incluya contenido o construcciones engañosas o manipuladoras para mejorar el ranking en los motores de búsqueda.</li>
        <li>Diseñe un sitio útil con información de valor y redacte páginas que describan con claridad y precisión su contenido.</li>
    </ol>
    <div><span style="font-size: small;"><br>
        </span></div>
    <h3><span style="color: #000000;"><strong>Fuentes de las visitas al sitio</strong></span></h3>
    <p>Los anuncios no pueden aparecer en páginas que reciban tráfico de determinadas fuentes.</p>
    <p>Los anuncios no pueden aparecer en páginas que reciban tráfico de determinadas fuentes. Por ejemplo, los editores no pueden participar en programas que ofrezcan remuneración a cambio de clicks, enviar correos no deseados ni mostrar anuncios como resultado de las acciones de una aplicación de software.</p>
    <p>Con tal de garantizar la calidad del servicio tanto a los editores como a los anunciantes de Adtomatik, los sitios que muestren anuncios no pueden:</p>
    <ol start="1">
        <li>Usar servicios de terceros que generen clicks o impresiones, por ejemplo, programas de incentivos a cambio de clicks o de acceso a una página.</li>
        <li>Promocionarse a través de correos masivos o de anuncios no solicitados en sitios web de terceros.</li>
        <li>Cargarse mediante software que pueda activar ventanas emergentes, redireccionar a los usuarios a sitios web no deseados, modificar la configuración del navegador o interferir de cualquier otro modo con la navegación del sitio web. Usted es el responsable de garantizar que ninguna red publicitaria ni ningún afiliado utilice dichos métodos para dirigir el tráfico a páginas que contengan los códigos de sus anuncios.</li>
    </ol>
    <div><span style="font-size: small;"><br>
        </span></div>
    <h3><span style="color: #000000;"><strong>Comportamiento de los anuncios</strong></span></h3>
    <p>El código de sus anuncios no puede alterarse ni tampoco puede manipularse el comportamiento estándar del anuncio, su orientación ni su publicación.</p>
    <p>&nbsp;</p>
    <h3><span style="color: #000000;"><strong>Ubicación del anuncio</strong></span></h3>
    <p>Animamos a los editores a experimentar con distintas ubicaciones y formatos de anuncios. No obstante, el código de los anuncios no puede insertarse en lugares inapropiados, por ejemplo, en ventanas emergentes, en correos electrónicos o en software.</p>
    <p>Los codigos de los anuncios no pueden:</p>
    <ol>
        <li>Integrarse en una aplicación de software del tipo que sea, incluidas barras de herramientas,</li>
        <li>Mostrarse en ventanas emergentes o subyacentes,</li>
        <li>Incluirse en correos electrónicos o en programas de correo electrónico,</li>
        <li>Mostrarse poco claros o visibles por culpa de un elemento de la página,</li>
        <li>Incluirse en una página sin contenido,</li>
        <li>Incluirse en páginas destinadas específicamente a mostrar anuncios,</li>
        <li>Aparecer en páginas cuyo contenido o URL pueda hacer pensar a los usuarios que, por el uso indebido de logotipos, de marcas registradas o de otras características de marca, esté asociado con Adtomatik.</li>
    </ol>
    <div><span style="font-size: small;"><br>
        </span></div>
    <h3><span style="color: #000000;"><strong>Comportamiento de los sitios</strong></span></h3>
    <p>Los sitios en los que se publiquen anuncios deben ser de fácil navegación. Estos no pueden alterar las preferencias del usuario, redireccionarles a sitios web no deseados, iniciar descargas, incluir software malicioso ni contener ventanas emergentes o subyacentes que interfieran en la navegación por el sitio.</p>
    <p>&nbsp;</p>
    <h3><span style="color: #000000;"><strong>Anuncios y servicios de la competencia</strong></span></h3>
    <p>Las políticas del programa Adtomatik para Sitios permiten que los anuncios de la competencia se coloquen en la misma página que los anuncios de nuestros anunciantes, pero pedimos a los editores que garanticen que los anuncios de la competencia y los anuncios de los anunciantes de Adtomatik se puedan diferenciar fácilmente.</p>
    <h3><span style="color: #000000;"><strong>Cookies de publicidad</strong></span></h3>
    <p>Los editores deben regirse por una política de privacidad que explique a los usuarios que es posible que terceros introduzcan y lean cookies de su navegador, o que utilicen etiquetas de seguimiento para recopilar información como consecuencia de la publicación de anuncios en su sitio web.</p>
    <div class="clear"></div>
    
    <div style="background: none repeat scroll 0 0 #7fb61a;padding-top: 10px;padding-bottom: 10px;color: #FFF;font-size: 14px;">
        <p style="padding-left: 10px"><b>© 2014 MediaFem LLC - MediaFem & Adtomatik are part of MediaFem Group</b></p> 
    </div>
</div>